html
    head
        title Welcome to the Target Site
        link(rel="stylesheet", href="/css/stylesheet.css")
    body
        .container
            nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.sticky-top
                a.navbar-brand(href='/') Test Site
                button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.mr-auto
                        li.nav-item.active
                            a.nav-link(href='')
                                | Home 
                                span.sr-only (current)
                        li.nav-item
                            a.nav-link(href='/register') Register
                        li.nav-item
                            a.nav-link(href='/login') Login
            br
            br
            form(action="/search", method="post")
                .form-group
                    input#name.form-control(type='text', placeholder='Search' name='query' required)
            if results
                p
                    | "#{results.title}" currently has #{results.numberInStock} in stock costing #{results.dailyRentalRate} per day.
            if error
                p
                    | #{error.message}
            br
            br
            br
            br
            p.h3
                | This is a auxiliary website as a target for SQL-injection attack, SQL-injection network traffic data is collected based on this website.
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js") 
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")