html
    head
        title Welcome to the Target Site
        link(rel='stylesheet', href='../static/css/stylesheet.css')
    body
        h1#pageTitle Welcome to the Target Site!
        a(href='/register') Register
        a(href='/login') Login
        p.description. 
            This is a auxiliary website providing general entry points on receving malicious traffic for **SQL injection**.